$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;

$tittle-font: "Montserrat", sans-serif;
$subtittle-font: "Lora", serif;
$body-font: "Open Sans", sans-serif;

//Colors

$red: #b45253;
$redder: #8f4143;
$green: #84994f;
$black: #151515;
$grey: #444444;
$white: #ffffff;
